<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triple_stack.route_in_backend.mapper.AddressMapper">
    <resultMap id="AddressResultMap" type="com.triple_stack.route_in_backend.entity.Address">
        <id property="userId" column="user_id"/>
        <result property="zipCode" column="zip_code"/>
        <result property="baseAddress" column="base_address"/>
        <result property="detailAddress" column="detail_address"/>
    </resultMap>

    <select id="getAddressByUserId" resultMap="AddressResultMap">
        select
            *
        from
            address_tb
        where
            user_id = #{userId};
    </select>

    <insert id="addAddress">
        insert into
            address_tb
        values
            (#{userId}, #{zipCode}, #{baseAddress}, #{detailAddress});
    </insert>

    <update id="changeAddress">
        update
            address_tb
        set
            zip_code = #{zipCode},
            base_address = #{baseAddress},
            detail_address = #{detailAddress}
        where
            user_id = #{userId};
    </update>
</mapper>