<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triple_stack.route_in_backend.mapper.CourseMapper">
    <resultMap id="CourseResultMap" type="com.triple_stack.route_in_backend.entity.Course">
        <id property="courseId" column="course_id"/>
        <result property="userId" column="user_id"/>
        <result property="boardId" column="board_id"/>
        <result property="courseName" column="course_name"/>
        <result property="distanceM" column="distance_m"/>
        <result property="centerLat" column="center_lat"/>
        <result property="centerLng" column="center_lng"/>
        <result property="region" column="region"/>
        <result property="favorite" column="favorite"/>
        <result property="createDt" column="create_dt"/>
        <result property="updateDt" column="update_dt"/>
    </resultMap>

    <insert id="addCourse" useGeneratedKeys="true" keyProperty="courseId">
        insert into
            course_tb
        values
            (0, #{userId}, #{boardId}, #{courseName}, #{distanceM},
            #{centerLat}, #{centerLng}, #{region}, 0, now(), null);
    </insert>

    <select id="getCourseByBoardId" resultMap="CourseResultMap">
        select
            *
        from
            course_tb
        where
            board_id = #{boardId};
    </select>

    <select id="getCourseListByUserId" resultMap="CourseResultMap">
        select
            *
        from
            course_tb
        where
            user_id = #{userId};
    </select>

    <select id="getCourseFavoriteByUserId" resultMap="CourseResultMap">
        select
            *
        from
            course_tb
        where
            user_id = #{userId} and favorite != 0;
    </select>

    <update id="updateCourse">
        update
            course_tb
        set
            course_name = #{courseName},
            distance_M = #{distanceM},
            center_lat = #{centerLat},
            center_lng = #{centerLng},
            region = #{region},
            update_dt = now()
        where
            course_id = #{courseId};
    </update>

    <update id="changeCourseFavorite">
        UPDATE
            course_tb
        SET
            favorite = CASE
            WHEN course_id = #{courseId} THEN (1 - favorite)
            ELSE 0
            END
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteCourse">
        delete from
            course_tb
        where
            course_id = #{courseId}
    </delete>
</mapper>
