<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triple_stack.route_in_backend.mapper.FollowMapper">
    <resultMap id="FollowResultMap" type="com.triple_stack.route_in_backend.entity.Follow">
        <id property="followId" column="follow_id"/>
        <result property="followerUserId" column="follower_user_id"/>
        <result property="followingUserId" column="following_user_id"/>
        <result property="createDt" column="create_dt"/>
    </resultMap>

    <resultMap id="UserResultMap" type="com.triple_stack.route_in_backend.entity.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="profileImg" column="profile_img"/>
        <result property="birthYear" column="birth_year"/>
    </resultMap>

    <insert id="addFollow">
        insert into
            follow_tb
        values
            (0, #{followerUserId}, #{followingUserId}, now());
    </insert>

    <delete id="deleteFollow">
        delete from
            follow_tb
        where
            follower_user_id = #{followerUserId} and following_user_id = #{followingUserId};
    </delete>

    <select id="getFollowerUserList" resultMap="UserResultMap">
        select
            user_id,
            username,
            profile_img,
            birth_year
        from
            user_tb join follow_tb on (user_tb.user_id = follow_tb.follower_user_id)
        where
            following_user_id = #{userId};
    </select>

    <select id="getFollowingUserList" resultMap="UserResultMap">
        select
            user_id,
            username,
            profile_img,
            birth_year
        from
            user_tb join follow_tb on (user_tb.user_id = follow_tb.following_user_id)
        where
            follower_user_id = #{userId};
    </select>

    <select id="getFollowByFollowerUserIdAndFollowingUserId" resultMap="UserResultMap">
        select
            *
        from
            follow_tb
        where
            follower_user_id = #{followerUserId} and
            following_user_id = #{followingUserId};
    </select>

    <update id="plusFollower">
        update
            user_tb
        set
            follower_cnt = follower_cnt + 1
        where
            user_id = #{userId};
    </update>

    <update id="plusFollowing">
        update
            user_tb
        set
            following_cnt = following_cnt + 1
        where
            user_id = #{userId};
    </update>

    <update id="minusFollower">
        update
            user_tb
        set
            follower_cnt = follower_cnt - 1
        where
            user_id = #{userId};
    </update>

    <update id="minusFollowing">
        update
            user_tb
        set
            following_cnt = following_cnt - 1
        where
            user_id = #{userId};
    </update>
</mapper>