<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triple_stack.route_in_backend.mapper.MessageMapper">
    <resultMap id="MessageResultMap" type="com.triple_stack.route_in_backend.entity.Message">
        <id property="messageId" column="message_id"/>
        <result property="roomId" column="room_id"/>
        <result property="senderId" column="last_message"/>
        <result property="type" column="last_message_dt"/>
        <result property="content" column="create_dt"/>
        <result property="createDt" column="create_dt"/>
        <result property="profileImg" column="profile_img"/>
    </resultMap>

    <insert id="addMessage">
        insert into
            message_tb
        values
            (0, #{roomId}, #{senderId}, #{type}, #{content}, now());
    </insert>

    <update id="changeMessage">
        update
            message_tb
        set
            sender_id = #{senderId},
            content = #{content}
        where
            message_id = #{messageId};
    </update>

    <select id="getMessageListInfinite" resultMap="MessageResultMap">
        select
            message_tb.*,
            user_tb.profile_img as profile_img
        from
            message_tb
            join user_tb on (user_tb.user_id = message_tb.sender_id)
        <where>
            <if test="cursorCreateDt != null and cursorMessageId != null">
                create_dt &lt;= #{cursorCreateDt}
                and message_id &lt;= #{cursorMessageId}
                and room_id = #{roomId}
            </if>
        </where>
        order by
            create_dt desc,
            message_id desc
        limit #{limitPlusOne};
    </select>

    <select id="getMessageByMessageId" resultMap="MessageResultMap">
        select
            *
        from
            message_tb
        where
            message_id = #{messageId};
    </select>
</mapper>