<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triple_stack.route_in_backend.mapper.RoomMapper">
    <resultMap id="RoomResultMap" type="com.triple_stack.route_in_backend.entity.Room">
        <id property="roomId" column="room_id"/>
        <result property="type" column="type"/>
        <result property="unreadCnt" column="unread_cnt"/>
        <result property="profileUserId" column="profile_user_id"/>
        <result property="createDt" column="create_dt"/>
        <result property="lastMessage" column="last_message"/>
        <result property="lastMessageDt" column="last_message_dt"/>
        <result property="lastMessageId" column="last_message_id"/>
        <collection property="participants" resultMap="RoomParticipantResultMap"/>
    </resultMap>

    <resultMap id="RoomParticipantResultMap" type="com.triple_stack.route_in_backend.entity.RoomParticipant">
        <result property="roomId" column="rpt_room_id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="role" column="role"/>
        <result property="joinedDt" column="joined_dt"/>
        <result property="leftDt" column="left_dt"/>
        <result property="profileImg" column="profile_img"/>
        <result property="username" column="username"/>
    </resultMap>

    <resultMap id="RoomReadResultMap" type="com.triple_stack.route_in_backend.entity.RoomRead">
        <result property="roomId" column="room_id"/>
        <result property="userId" column="user_id"/>
        <result property="lastReadMessageId" column="last_read_message_id"/>
        <result property="updateDt" column="update_dt"/>
    </resultMap>

    <resultMap id="RoomRespResultMap" type="com.triple_stack.route_in_backend.dto.chat.RoomRespDto">
        <id property="roomId" column="room_id"/>
        <result property="type" column="type"/>
        <result property="createDt" column="create_dt"/>
        <result property="lastMessage" column="last_message"/>
        <result property="lastMessageDt" column="last_message_dt"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="role" column="role"/>
        <result property="joinedDt" column="joined_dt"/>
        <result property="leftDt" column="left_dt"/>
        <result property="unreadCnt" column="unread_cnt"/>
        <result property="profileImg" column="profile_img"/>
    </resultMap>

    <insert id="addRoom" useGeneratedKeys="true" keyProperty="roomId">
        insert into
            room_tb
        values
            (0, #{type}, 0, #{profileUserId}, now(), null, null, 0);
    </insert>

    <insert id="addRoomParticipant">
        insert into
            room_participant_tb
        values
            (#{roomId}, #{userId}, #{title}, #{role}, now(), null);
    </insert>

    <select id="getRoomListByUserId" resultMap="RoomRespResultMap">
        SELECT
            rt.room_id,
            rt.type,
            rt.create_dt,
            rt.last_message,
            rt.last_message_dt,

            rpt.user_id,
            rpt.title,
            rpt.role,
            rpt.joined_dt,
            rpt.left_dt,

            COALESCE(uc.unread_cnt, 0) AS unread_cnt,
            ut.profile_img as profile_img
        FROM room_tb rt
            JOIN room_participant_tb rpt
                ON rt.room_id = rpt.room_id
            JOIN room_read_tb rrt
                ON rrt.room_id = rt.room_id
                AND rrt.user_id = rpt.user_id
            JOIN user_tb ut
                ON ut.user_id = rt.profile_user_id
                LEFT JOIN (
                    SELECT
                        mt.room_id,
                        COUNT(*) AS unread_cnt
                            FROM message_tb mt
                            JOIN room_read_tb r
                            ON r.room_id = mt.room_id
                            AND r.user_id = #{userId}
                                JOIN room_participant_tb rpt2
                                ON rpt2.room_id = mt.room_id
                                AND rpt2.user_id = #{userId}
        WHERE mt.message_id > r.last_read_message_id
            AND mt.sender_id IS NOT NULL
            AND mt.create_dt > rpt2.joined_dt
            AND rpt2.left_dt IS NULL
                GROUP BY mt.room_id
                ) uc
                ON uc.room_id = rt.room_id
                WHERE
                rpt.user_id = #{userId}
                AND rt.last_message_dt IS NOT NULL
                AND rpt.left_dt IS NULL
                ORDER BY
                rt.last_message_dt DESC;
    </select>

    <update id="quitRoom">
        update
            room_participant_tb
        set
            left_dt = now()
        where
            user_id = #{userId} and room_id = #{roomId};
    </update>

    <update id="changeRoomTitle">
        update
            room_participant_tb
        set
            title = #{title}
        where
            user_id = #{userId} and room_id = #{roomId};
    </update>

    <select id="getRoomParticipantByUserIdAndRoomId" resultMap="RoomParticipantResultMap">
        select
            room_id as rpt_room_id,
            user_id,
            title,
            role,
            joined_dt,
            left_dt
        from
            room_participant_tb
        where
            user_id = #{userId}
            and room_id = #{roomId};
    </select>

    <select id="getRoomByRoomId" resultMap="RoomResultMap">
        select
            rt.*,
            rpt.room_id as rpt_room_id,
            rpt.user_id,
            rpt.title,
            rpt.role,
            rpt.joined_dt,
            rpt.left_dt,
            ut.profile_img,
            ut.username
        from
            room_tb rt
            join room_participant_tb rpt on (rt.room_id = rpt.room_id)
            join user_tb ut on (ut.user_id = rpt.user_id)
        where
            rt.room_id = #{roomId}
            AND rpt.left_dt IS NULL;
    </select>

    <update id="changeRoomLastMessage">
        update
            room_tb
        set
            last_message = #{lastMessage},
            last_message_dt = now(),
            last_message_id = #{lastMessageId}
        where
            room_id = #{roomId};
    </update>

    <insert id="addRoomRead">
        insert into
            room_read_tb
        values
            (#{roomId}, #{userId}, #{lastReadMessageId}, null);
    </insert>

    <update id="changeRoomRead">
        update
            room_read_tb
        set
            last_read_message_id = GREATEST(last_read_message_id, #{lastReadMessageId}),
            update_dt = now()
        where
            room_id = #{roomId} and user_id = #{userId};
    </update>

    <update id="cancelQuitRoom">
        update
            room_participant_tb
        set
            left_dt = NULL,
            joined_dt = now()
        where
            room_id = #{roomId} and user_id = #{userId};
    </update>
</mapper>