<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triple_stack.route_in_backend.mapper.RoutineMapper">
    <resultMap id="RoutineResultMap" type="com.triple_stack.route_in_backend.entity.Routine">
        <id property="routineId" column="routine_id"/>
        <result property="userId" column="user_id"/>
        <result property="boardId" column="board_id"/>
        <result property="weekday" column="weekday"/>
        <result property="exercise" column="exercise"/>
        <result property="checked" column="checked"/>
    </resultMap>

    <insert id="addRoutine">
        insert into
            routine_tb
        values
            (0, #{userId}, #{boardId}, #{weekday}, #{exercise}, 0);
    </insert>

    <update id="updateRoutine">
        UPDATE
        routine_tb
        SET
        weekday = #{weekday},
        exercise = #{exercise},
        checked = #{checked}
        <where>
            <choose>
                <when test="routineId != null and routineId != 0">
                    routine_id = #{routineId}
                </when>

                <when test="userId == null or userId == 0">
                    board_id = #{boardId}
                </when>

                <otherwise>
                    user_id = #{userId}
                </otherwise>
            </choose>
        </where>
    </update>

    <select id="getRoutine" resultMap="RoutineResultMap">
        SELECT
        *
        FROM
        routine_tb
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>

            <if test="boardId != null">
                OR board_id = #{boardId}
            </if>
        </where>
    </select>
</mapper>