<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triple_stack.route_in_backend.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.triple_stack.route_in_backend.entity.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="provider" column="provider"/>
        <result property="providerUserId" column="provider_user_id"/>
        <result property="profileImg" column="profile_img"/>
        <result property="gender" column="gender"/>
        <result property="address" column="address"/>
        <result property="birthYear" column="birth_year"/>
        <result property="height" column="height"/>
        <result property="weight" column="weight"/>
        <result property="currentRun" column="current_run" typeHandler="com.triple_stack.route_in_backend.security.handler.JsonTypeHandler"/>
        <result property="weeklyRun" column="weekly_run" typeHandler="com.triple_stack.route_in_backend.security.handler.JsonTypeHandler"/>
        <result property="createDt" column="create_dt"/>
        <result property="updateDt" column="update_dt"/>
        <result property="status" column="status"/>
        <result property="withdrawDt" column="withdraw_dt"/>
        <result property="deleteDt" column="delete_dt"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="getUserByUsername" resultMap="UserResultMap">
        select
            *
        from
            user_tb
        where
            username = #{username};
    </select>
  
    <select id="getUserByUserId" resultMap="UserResultMap">
        select
            *
        from
            user_tb
        where
            user_id = #{userId};
    </select>

    <select id="getUserByProviderAndProviderUserId" resultMap="UserResultMap">
        select
            *
        from
            user_tb
        where
            provider = #{provider} and provider_user_id = #{providerUserId};
    </select>
  
    <insert id="addUser" useGeneratedKeys="true" keyProperty="userId">
        insert into
            user_tb
        values
            (0, #{username}, #{provider}, #{providerUserId}, null, #{gender},
            #{address}, #{birthYear}, #{height}, #{weight},
        #{currentRun, typeHandler=com.triple_stack.route_in_backend.security.handler.JsonTypeHandler},
        #{weeklyRun, typeHandler=com.triple_stack.route_in_backend.security.handler.JsonTypeHandler},
        now(), null, "ACTIVE", null, null, "ROLE_USER");
    </insert>
  
    <update id="changeUsername">
        update
            user_tb
        set
            username = #{username},
            update_dt = now()
        where
            user_id = #{userId};
    </update>
  
    <update id="changeProfileImg">
        update
            user_tb
        set
            profile_img = #{profileImg},
            update_dt = now()
        where
            user_id = #{userId};
    </update>
  
    <update id="changeAddress">
        update
            user_tb
        set
            address = #{address},
            update_dt = now()
        where
            user_id = #{userId};
    </update>
  
    <update id="changeHeightAndWeight">
        update
            user_tb
        set
            height = #{height},
            weight = #{weight},
            update_dt = now()
        where
            user_id = #{userId};
    </update>
  
    <update id="changeCurrentRun">
        update
            user_tb
        set
            current_run = #{currentRun},
            update_dt = now()
        where
            user_id = #{userId};
    </update>
  
    <update id="changeWeeklyRun">
        update
            user_tb
        set
            weekly_run = #{weeklyRun},
            update_dt = now()
        where
            user_id = #{userId};
    </update>
  
    <update id="withdraw">
        update
            user_tb
        set
            status = "INACTIVE",
            withdraw_dt = now(),
            delete_dt = DATE_ADD(now(), INTERVAL 30 DAY)
        where
            user_id = #{userId};
    </update>
  
    <delete id="deleteUser">
        delete from
            user_tb
        where
            status = "INACTIVE"
            and delete_dt <![CDATA[<=]]> now();
    </delete>
</mapper>